<div class="ad-margin">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-3">
              <h3><a href="#">Locations</a></h3>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>Add New Cities</button>
            <!-- <h3><a [routerLink]="['/admin-header/admin-addnewcities']"><i class="fa fa-plus"></i>Add New Cities</a></h3> -->
        </div>
      </div>
    </div>
    <div class="panel-body" >
      <kendo-grid [data]="gridData" [pageSize]="5" [sortable]="true" [sort]="sort" [pageable]="true" [height]="550" (detailExpand)="getRow($event)">
        <kendo-grid-column field="countryName" title="Country" width="150"> </kendo-grid-column>
        <ng-template kendoGridDetailTemplate let-dataItem>
          <app-admin-state [countryDetails]="dataItem"></app-admin-state>
        </ng-template>
      </kendo-grid>
      <!-- end of table -->
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add New Cities</h4>
            </div>
            <div class="modal-body">
              <div class="ad-margin">
                <!-- form -->
                <form method="post" class="form-horizontal" #countryForm="ngForm">
                  <div class="form-group">
                    <label class="col-xs-3 control-label"><span class="req">* </span> CountryName</label>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" name="countryName" [(ngModel)]="countryName" #countryText="ngModel" required />
                      <div *ngIf="countryText.invalid && (countryText.dirty || countryText.touched)" class="alert alert-danger">
                        <div *ngIf="countryText.errors.required">
                          country name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-xs-3 control-label"><span class="req">* </span>StateName</label>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" name="stateName" [(ngModel)]="stateName" #stateText="ngModel" required />
                      <div *ngIf="stateText.invalid && (stateText.dirty || stateText.touched)" class="alert alert-danger">
                        <div *ngIf="stateText.errors.required">
                          State name is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-xs-3 control-label"><span class="req">* </span> CityName</label>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" name="cityName" [(ngModel)]="cityName" #cityText="ngModel" required />
                      <div *ngIf="cityText.invalid && (cityText.dirty || cityText.touched)" class="alert alert-danger">
                        <div *ngIf="cityText.errors.required">
                          city name is required.
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-md" data-dismiss="modal" (click)="addNewCities()" [disabled]="countryForm.invalid"><i class="fa fa-floppy-o" aria-hidden="true"> Save </i></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </form>
                <!-- form ends -->
              </div>
            </div>
          </div>

          <!-- panel body -->
        </div>
      </div>
    </div>
  </div>
</div>